<h1>User <%= @user.email %></h1>

<h3>Attended Events</h3>

<% @events.each do |event| %>
  <b>ID:</b> <%= link_to event.id, event %>
  <b>Location:</b> <%= event.location %>
  <b>Date:</b> <%= event.date %>
  <br/>
<% end %>
