<div class="col mb-5">
  <div class="card h-100">
    <%= image_tag friend_request.sender.profile_pic, class: "card-img-top" %>
    <div class="card-body p-4">
      <div class="text-center">
        <h5 class="fw-bolder"><%= friend_request.sender.name %></h5>
      </div>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-grid">
      <%= link_to 'Accept Friendship', friendship_path(friend_request), method: :patch, class: 'btn btn-outline-success mt-auto justify-content-center mb-2', data: { 'turbo-method': :patch } %>
      <%= link_to 'Reject Friendship', friendship_path(friend_request), method: :delete, class: 'btn btn-outline-danger mt-auto justify-content-center', data: { 'turbo-method': :delete } %>
    </div>
  </div>
</div>
