<h1>New Friend Request</h1>
<%= form_with model: @friendship, url: friendships_path do |form| %>
  <%= form.hidden_field :receiver_id, value: @receiver_id %>
  <%= form.submit 'Send Friend Request', class: 'btn btn-primary' %>
<% end %>
