<div class="mb-4">
  <div class="">
    <div class="row">
      <div class="col-md-1">
        <%= image_tag comment.user.profile_pic.variant(resize_to_limit: [35, 35]), class: "rounded-circle border shadow-sm dropdown-toggle" %>
      </div>
      <div class="col-md-11 mb-4">
        <h6><strong><%= comment.user.name %></strong></h6>
        <%= comment.content %>
      </div>
      <span class="small comment-created-at"><i class="fa fa-clock"></i><%= time_ago_in_words(comment.created_at) %> ago</span>
    </div>
  </div>
</div>
